
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
 <!--<![endif]-->
<head>
    <title>Home</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Web Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="~/Content/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/style.css">

   

  
    <link rel="stylesheet" href="~/Content/assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="~/Content/assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="~/Content/assets/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    
    <!-- CSS Theme -->
    <link rel="stylesheet" href="~/Content/assets/css/theme-colors/default.css" id="style_color">
 

    <!-- JS Global Compulsory -->
    <script type="text/javascript" src="~/Content/assets/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/jquery/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- JS Implementing Plugins -->
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
</head>
<body>
    <div class="wrapper">








        <!--=== Content Part ===-->
        <div class="container content">
            <div class="row">
 
                <!-- Begin Content -->
                <div class="col-md-9">

                    @RenderBody()
                     
                     
                        
                </div>
                <!-- End Content -->
            </div>
        </div><!--/container-->





    </div><!--/End Wrapepr-->
 

 
    
 
</body>
</html>